<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#feed-category-list" href="#{{category.Id}}">{{category.Name}}</a>
    </div>
    <div id="{{category.Id}}" class="accordion-body collapse">
        <div class="accordion-inner">
            <ul class="nav nav-pills nav-stacked" ng-repeat="feed in category.Feeds">
                <a href="#{{feed.Id}}">{{feed.Name}}</a>
            </ul>
        </div>
    </div>
</div>