@{
    ViewBag.Title = "Feed Reader";
}

<h2>@ViewBag.Message</h2>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 feed-list">
            <!--Sidebar content-->
            <div class="accordion" id="feed-category-list">
            </div>
            <a href="#subscribe-modal" role="button" id="subscribe-feed" style="display:none;" class="btn btn-primary" data-toggle="modal">Subscribe</a>
        </div>
        <div class="span9 feed-view">
            <!--Body content-->
        </div>
    </div>
</div>

<div id="subscribe-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subscribe-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="subscribe-modal-label">Subscribe to new feed</h3>
    </div>
    <div class="modal-body">
        <div class="alert-container"></div>
        <form class="form-addfeed">
            <fieldset>
                <label>URL</label>
                <input name="Url" id="AddFeed-Url" type="text" />
                <label>Name</label>
                <input name="Name" id="AddFeed-Name" type="text" />
                <label>Category</label>
                <input name="Category" type="text" />
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary btn-save" data-loading-text="Saving...">Save changes</button>
    </div>
</div>
<script type="text/javascript">
    require(['/Scripts/feedHub.js', '/Scripts/formHelper.js', '/Scripts/notificationHelper.js'], function (feedHub, formHelper, notificationHelper) {
        var $addFeedForm = $('.form-addfeed');
        $(document).on('hubStarted', function () {
            $('#subscribe-modal').on('shown', function () {
                formHelper.selectFirstField($addFeedForm);
            });
            $('#subscribe-modal').on('hidden', function() {
                formHelper.clearForm($addFeedForm);
            });
            $('#subscribe-modal #AddFeed-Url').blur(function(e) {
                feedHub.lookupFeed(formHelper.getFormData($('.form-addfeed')));
            });
            $('#subscribe-modal .btn-save').click(function (e) {
                var $saveButton = $(this);
                $saveButton.button('loading');
                var feed = formHelper.getFormData($('.form-addfeed'));
                feedHub.hub.server.addFeed(feed).done(function (addResponse) {
                    if (addResponse.Status.ErrorLevel > 2) {
                        notificationHelper.showError(addResponse.Status, $('.modal-body'));
                    } else {
                        $('#subscribe-modal').modal('hide');
                        feedHub.addFeed(addResponse.Data, true);
                    }
                    $saveButton.button('reset');
                });
            });
        });
        $(document).on('feedListRetrieved', function () {
            $('#subscribe-feed').show();
        });
    });
</script>