@{
    ViewBag.Title = "Feed Reader";
}

<h2>@ViewBag.Message</h2>
<div class="container-fluid" ng-app="FeedReader">
    <div class="row-fluid">
        <div class="span3" ng-controller="feedListController">
            <img src="/Content/img/loading.gif" alt="loading..." class="icon-loading" ng-show="loading" />
            <div class="alert fade in" ng-show="error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{error.ErrorLevel <= 3 ? 'Warning!' : 'Error!'}}</strong>
                &nbsp;<span class="{{error.ErrorLevel <= 3 ? 'alert-message' : 'alert-error-message'}}">{{error.ErrorMessage}}</span>
            </div>
            <!--Sidebar content-->
            <accordion close-others="oneAtATime">
                <accordion-group heading="{{category.Name}}" ng-repeat="category in categories">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked" ng-repeat="feed in category.Feeds">
                            <a href="#{{feed.Id}}">{{feed.Name}}</a>
                        </ul>
                    </div>
                </accordion-group>
            </accordion>
            @*<div class="accordion" id="feed-category-list">
                <div ng-repeat="category in categories" id="{{category.id}}" ng-include="'/Scripts/ng/views/feedCategoryView.html'">
                </div>
            </div>*@
            <a href="#subscribe-modal" role="button" id="subscribe-feed" style="display:none;" class="btn btn-primary" data-toggle="modal" ng-show="categories">Subscribe</a>
        </div>
        <div class="span9 feed-view">
            <!--Body content-->
        </div>
    </div>
</div>

<div id="subscribe-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subscribe-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="subscribe-modal-label">Subscribe to new feed</h3>
    </div>
    <div class="modal-body">
        <div class="alert-container"></div>
        <form class="form-addfeed">
            <fieldset>
                <label>URL</label>
                <input name="Url" id="AddFeed-Url" type="text" />
                <label>Name</label>
                <input name="Name" id="AddFeed-Name" type="text" />
                <label>Category</label>
                <input name="Category" type="text" />
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary btn-save" data-loading-text="Saving...">Save changes</button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        angular.module('FeedReader', ['ui.bootstrap']);
    </script>
    <script type="text/javascript" src="~/Scripts/feedHub.js"></script>
}

<script type="text/javascript">
    angular.module('FeedReader')
        .controller('feedListController', [
            '$scope', 'feedHub', function($scope, feedHub) {
                var $addFeedForm = $('.form-addfeed');
                $scope.loading = true;
                $scope.$on('hubStarted', function(event, feedResponse) {
                    event.currentScope.loading = false;
                    if (feedResponse.Status.ErrorLevel > 2) {
                        event.currentScope.error = feedResponse.Status;
                    } else {
                        var categories = feedHub.constructor(feedResponse.Data);
                        event.currentScope.categories = feedResponse.Data;
                    }
                    event.currentScope.$apply();
                });
                feedHub.startHub()
                    .done(function() {
                        feedHub.getFeeds().done(function(feedResponse) {
                            $scope.$emit('hubStarted', feedResponse);
                        }).fail(function(error) {
                            $scope.$emit('hubStarted', {
                                Status: {
                                    ErrorLevel: 4,
                                    ErrorMessage: 'Error getting feeds:' + error
                                }
                            });
                        });
                    });
                $('#subscribe-modal').on('shown', function() {
                    formHelper.selectFirstField($addFeedForm);
                });
                $('#subscribe-modal').on('hidden', function() {
                    formHelper.clearForm($addFeedForm);
                });
                $('#subscribe-modal #AddFeed-Url').blur(function(e) {
                    feedHub.lookupFeed(formHelper.getFormData($('.form-addfeed')));
                });
                $('#subscribe-modal .btn-save').click(function(e) {
                    var $saveButton = $(this);
                    $saveButton.button('loading');
                    var feed = formHelper.getFormData($('.form-addfeed'));
                    feedHub.hub.server.addFeed(feed).done(function(addResponse) {
                        if (addResponse.Status.ErrorLevel > 2) {
                            notificationHelper.showError(addResponse.Status, $('.modal-body'));
                        } else {
                            $('#subscribe-modal').modal('hide');
                            feedHub.addFeed(addResponse.Data, true);
                        }
                        $saveButton.button('reset');
                    });
                });
            }
        ]);
</script>