@{
    ViewBag.Title = "Feed Reader";
}

<h2>@ViewBag.Message</h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 feed-list">
        <!--Sidebar content-->
        <div class="accordion" id="feed-category-list">
        </div>
    </div>
    <div class="span9 feed-view">
      <!--Body content-->
    </div>
  </div>
</div>
<p>
    @Html.ActionLink("Subscribe", "AddFeed")
</p>
